.color-default {
  color: var(--color-default);
}

.color-gray {
  color: #999;
}

.color-green {
  color: green;
}

.color-muted {
  color: #ccc;
}

.color-primary {
  color: var(--color-primary);
}

.color-red {
  color: red;
}
