.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-github:before {
  content: "\f09b";
}

.fa-home:before {
  content: "\f015";
}

.fa-twitter:before {
  content: "\f099";
}
