.p-20 {
  padding: 20px;
}

.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pv-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.pv-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.pv-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.pt-10 {
  padding-top: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}
